/* Declares font family for entire page */
* {
  font-family: Arial;
}

/* Styles entire main section of page (Projects) */
main {
  display: flex;
  margin-top: 2%;
  flex-wrap: wrap;
}

/* styles main header - centers, changes background and font color. */
.main-header {
  display: flex;
  background: black;
  color: white;
  justify-content: center;
  margin-bottom: 16px;
}

/* styles list items for the nav bar. Specifies padding, font size, margins, and display type. */

.nav-list li {
  display: inline;
  padding: 16px;
  font-size: 20px;
  text-align: center;
  margin-left: 100px;
  margin-right: 100px;
}

/* styles a tags on navbar. Specifies text color and removes underline */
a {
  color: white;
  text-decoration: none;
}

/* gives feedback when you hover cursor over navbar */
.nav-list li:hover{
  background-color: white;
  color: black;
  cursor: pointer;
}
.nav-list a:hover {
  color: black;
}

/* styles nav list. Specifies margins, background color, text alignment, text color */
.nav-list {
  text-align: center;
  list-style-type: none;
  margin: 2px;
  padding: 2px;
  background-color: black;
  color: white;
  margin-left: 100px;
  margin-right: 100px;
}

/*styles about me section with margins and alignment and width */
.about-me {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin-right: 150px;
  margin-bottom: 50px;
  margin-left: 150px;
  width: 70%;
}

/* sizes and aligns image in about me section */
.header-image{
  box-sizing: border-box;
  max-width: 320px;
  float: left;
  margin-right: 15px;
}

/* sizes about me header */
.about-me-text h3{
  font-size: 40px;
}

/* sizes about me main text */
.about-me-text p {
  font-size: 16px;
}

/* sizes and adjusts opacity for project card images */
.card-image {
  width: 300px;
  opacity: .75;
}

/* styles smaller project cards with borders, alignment, height, and text. */
.card {
  text-align: center;
  border-style: solid;
  border-color: black;
  border-width: 3px;
  flex-basis: 45%;
  width: 100%;
  margin: 2%;
  align-items: center;
  height: 300px;
}

/* styles main project card with border, alignment, size, and text style */
.main-project {
  text-align: center;
  border-style: solid;
  border-color: black;
  border-width: 3px;
  flex-basis: 100%;
  width: 100%;
  margin-left: 15%;
  margin-right: 15%;
  height: 400px;
}

/*specifies main project's image size and opacity */
.main-project-img{
  width: 400px;
  opacity: .75;
}

/*styles smaller project headers with padding and font size and color */
.card header {
  padding: 20px;
  color: black;
  font-size: 24px;
}

/*style footer (contact section) with background color, text color, and alignment */
footer {
  background-color: black;
  color: white;
  text-align: center;
  font-size: 24px;
  display: flex;
  padding-left: 40px;
}

/*makes it so when you hover over smaller project cards, there is feedback with an outline and shadow*/
.card:hover {
  box-shadow: inset 0px 0px 8px black, 0 0 15px gray;
  cursor: pointer;
}

/*makes it so when you hover over main project card, there is feedback with an outline and shadow*/
.main-project:hover {
  box-shadow: inset 0px 0px 8px black, 0 0 15px gray;
  cursor: pointer;
}

/*WORK IN PROGRESS. supposed to make it so when window size shrinks below 1000px, the elements of the page re-adjust to be in line */
@media screen and (max-width: 1000px) {
  .card {
    flex-basis: 40%;
    width: 100%;
  }
  .main-project{
    flex-basis: 100%;
    width: 100%;
  }
  .nav-list a{
    display:block;
  }
}

/*Makes it so when window size shrinks below 600px, the elements of the page re-adjust to be in line */
@media screen and (max-width: 600px) {
  .card {
    flex-basis: 100%;
    width: 100%;
  }
  .main-project{
    flex-basis: 100%;
    width: 100%;
    align-items: center;
    margin: auto;
  }
  .nav-list a{
    display:block;
    font-size: 20px;
  }
  .about-me {
    display: block;
    align-items: center;
    margin: auto;
  }
}

/*styles contact section list items */
.contact-list li {
  display: flex;
  list-style-type: none;
  color: white;
  font-size: 20px;
}